<!-- Loop over each object in the projects array -->
{{#each posts as |post|}}
  <div class='card mt-5'>
    <div class='card-header c-b'>
      <h2>
        <a href='/post/{{post.id}}'>{{post.title}}</a>
      </h2>

      <h5 class='card-title'>Created by
        {{post.user.name}}
        on
        {{format_date post.date_created}}</h5>
    </div>
    <div class='card-body card-title'>
      <h6>
        Description:
        {{post.description}}
      </h6>
    </div>

  </div>
{{/each}}